{% extends "exoral/base.html" %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'exoral:home' %}">Start</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'exoral:fach-list' %}">Fächer</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ fach }}</li>
    </ol>
  </nav>

  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col">
        <label for="id_name"><strong>Name</strong></label>
        <input type="text" class="form-control" id="id_name" name="name" value="{{ fach.name }}" required>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Speichern">
  </form>
</div>
{% endblock content %}
